@import "tailwindcss";
@config "../tailwind.config.ts";

html,
body,
#root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html.dark {
    color-scheme: dark;
}

html.light {
    color-scheme: light;
}

body {
    @apply bg-background text-foreground antialiased;
}
